<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1510.2205" targetFramework="net462" />
  <package id="NUnit" version="2.6.3" targetFramework="net462" />
  <package id="Relativity.Server.API.SDK" version="17.4.2" targetFramework="net462" />
  <package id="Relativity.Server.EventHandler.SDK" version="17.4.2" targetFramework="net462" />
  <package id="Relativity.Server.Kepler.SDK" version="2.15.6" targetFramework="net462" />
  <package id="Relativity.Server.ObjectManager.SDK" version="1.1.2" targetFramework="net462" />
  <package id="Relativity.Server.Shared.SDK" version="1.7.1" targetFramework="net462" />
</packages>